[package]
name = "<%= library_name %>"
version = "0.1.0"
authors = []
edition = "2018"

[lib]
name = "<%= library_name %>"
path = "src/lib.rs"
crate-type = ["dylib"]

[dependencies]
rustler = "<%= rustler_version %>"
